<div class="container text-center mt-5">
  <h1>Welcome to StudyBuddy!</h1>
  <p class="lead">The app to test your knowledge!.</p>
  <%= link_to "See Topics", topics_path, class: "btn btn-primary mt-3" %>
</div>
