
<div class="position-relative" style="min-height: calc(100vh - 65.5px); padding-top: 65.5px; overflow: hidden;">

  <div class="position-absolute top-0 start-0 w-100 h-100" style="
    background-image: url('https://res.cloudinary.com/dj2zl0gib/image/upload/middwinstudybuddy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;">
  </div>


  <div class="position-relative text-center text-dark" style="min-height: 60vh;">
    <div class="position-absolute top-0 start-50 translate-middle-x p-4 rounded-bottom shadow" style="background-color: rgba(255, 255, 255, 0.35); width: 100%; max-width: 800px; height: 150px;">
      <h1 class="fw-bold display-4 white-glow">Welcome to StudyBuddy!</h1>
      <p class="lead fw-bold white-glow">The app to test your knowledge!</p>
      <%= link_to "See Topics", topics_path, class: "btn btn-primary mt-3 px-4 py-2" %>
    </div>
  </div>
</div>
