<% @topics.each do |topic| %>
  <li>
    <% if topic.image_filename.present? %>
      <%= image_tag topic.image_filename, alt: topic.name %>
    <% end %>
    <h2><%= topic.name %></h2>
    <p><%= topic.description %></p>
  </li>
<% end %>


<% if user_signed_in? %>
  <p>Welcome back!</p>
<% else %>
  <p>Please sign in.</p>
<% end %>
